{{ form_start(form) }}
<div id="" class="container text-center mt-3">
	<div class="media shadow p-3 m-5 rounded">
		<div class="media-body">
			{{ form_start(form) }}
			{{ form_widget(form.texto, { 'attr': {'class': 'form-control text-center mt-3', 'placeholder': 'Escribe tu comentario'} }) }}
			{{ form_end(form) }}
			<button class="btn btn-primary boton_registro m-3 text-center">{{ button_label|default('Comentar') }}</button>
		</div>
	</div>

</div>
{{ form_end(form) }}
